.containerBackground {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../../../static/banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 70px;

  .customMargin {
    margin-top: 31px;
  }

  .forms {
    width: 33%;
    float: left;
    margin-right: 25px;

    &.miles {
      width: 16%;
    }
  }

  h1 {
    padding-top: 40px;
    font-weight: bolder;
    font-size: 4.3rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .containerBackground {
    height: 45vh;
  }
}

@media only screen and (max-width: 823px)
  and (orientation: landscape) {
  .containerBackground {
    height: 75vh !important;
  }
}

@media only screen and (max-width: 767px)
  and (orientation: landscape) {
  .containerBackground {
    height: 85vh !important;
  }
}

@media (max-width: 767px) {
  .containerBackground {
    height: 50vh;
  }
}
